{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron" style="height: 200px; background:transparent">
            <h1 class="display-4">Hello!</h1>

            <hr class="my-4">
            <p>Here you can check the tickets!
                <a class="btn btn-warning btn-lg" href="{{ url('update') }}" role="button" style="float: right;">Check tickets!</a>
            </p>
            
        </div>
    </div>


{% endblock %}


