{% extends 'base.html.twig' %}
{% block title %} to tickets!{% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="d-flex flex-column container ">

            <a href="{{ path('homepage') }}">

                <button type="button" class="btn btn-outline-light btn-lg btn-block">

                   Homepage

                </button>

            </a>

            <a href="{{ url('update') }}">

                <button type="button" class="btn btn-outline-light btn-lg btn-block">
                    Get your tickets up2date! If there are new ones...
                </button>

            </a>

            <table class="table table-striped bg-light" border="2px">
               <thead class="thead-dark">
               <tr>
                   <th> User</th>
                   <th> Message</th>
                   <th> date</th>
                   <th> Reply</th>
                   <th> Action</th>
               </tr>
               </thead>
               {% for message in messages %}
                   <tr>
                       <td> {{ message.name }}</td>
                       <td> {{ message.message }}</td>
                       <td width="12%"> {{ message.date|date('Y-m-d H:i:s') }}</td>
                       <form action="{{ url('reply') }}" method="post">
                           <input name="id" type="hidden" value="{{ message.id }}">
                       <td><textarea class="form-control" name="reply" placeholder="Write reply here...." rows="5" ></textarea> </td>
                       <td width="4%" ><button type="submit" class="btn btn-success btn-lg pull-bottom" >Send</button> </td>
                       </form>
                   </tr>
               {% endfor %}

           </table>

        </div>
    </div>
{% endblock %}
